/* HOME */
.homeWrapper{
    height: max-content;
}

/* ------------------------------------------------------------------- */

/* LOGIN & REGISTER */

.loginForm,.signupForm{
    background-color: #0d6efd;
    color: white;
}

.loginForm{
    width: 25rem !important;
}

.signupForm{
    width: 30rem !important;
}

.authErrorText{
    color: rgba(175, 4, 4, 0.896);
}

.frgtPwdText, .loginText{
    color: white;
    text-decoration: none;
}

.loginText, .frgtPwdText:hover{
    color: #fd7e14;
}

.loginText:hover {
    color: white;
}

.formBtns {
    background-color: #fd7e14 !important;
}

/* ------------------------------------------------------------------- */

/* APP NAVBAR */
.navBtns{
    width: 9.25rem;
}

.appData{
    width: 8.25rem;
    color: white;
    text-decoration: none;
}

.appName{
    font-size: medium;
}

.authBtns {
    border: 1px solid white !important;
    width: 4.5rem;
    font-size: smaller !important;
}

.authBtns:hover {
    color: #084298 !important;
    background-color: white !important;
}

@media screen and (min-width: 426px){
    .appData{
        width: 9rem;
    }
    .navBtns{
        width: 10rem;
    }
    
    .appName{
        font-size: large;
    }
    .authBtns{
        width: auto;
        font-size: medium !important;
    }
}

/* ------------------------------------------------------------------- */

/* SEARCH HOTELS */

.search{
    flex-direction: column;
    width: 17rem;
    height: max-content;
    border: 1px solid #0d6efd;
    border-radius: 20px;
    padding: 0.5rem 0.5rem;
}

.searchBar, .searchDate, .persons {
    width: 100%;
    padding : 10px 0;
}

.bedIcon, .calenderIcon, .personIcon{
    color: lightgray;
}

.cityNameText{
    border: none;
    outline: none;
}

.searchDateText, .personsText{
    color: rgb(103, 94, 94);
    cursor: pointer;
}

.searchDate{        
    border-top: 1px solid #0d6efd;
    border-bottom: 1px solid #0d6efd;
}

.dateblock{    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 2;
    position:absolute;
    top: 13.5rem;
}

.persons{
    border-bottom: 1px solid #0d6efd;
}

.personsOptions{
    position: absolute;
    z-index: 2;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    padding: 0.5rem;
}

.optionItem{        
    width: 100%;
}

.optionCounterBtn{
    border:  1px solid #0d6efd !important;
    cursor: pointer;
}

.optionCounterBtn:disabled{
    cursor: not-allowed;
}

.searchBtn{
    width: 100%;
    margin-top: 1rem;
    background-color: #fd7e14 !important;
    border: none !important;
    border-radius: 10px !important;
}

@media screen and (max-width: 575px) {
    .dateblock{
        width: 250px;
    }
    .rdrMonth{
        width: 100%;
    }
    .personsOptions{
        top: 16rem;
        width: 15rem;
    }    
}

@media screen and (max-width: 767px) and (min-width: 576px){
    .search{
        width: 20rem;
    }
    .personsOptions{
        top: 16rem;
        width: 18rem;
    }
}

@media screen and (min-width: 768px){
    .header{
        position: relative;
    }
    .search{
        flex-direction: row;
        height: 3rem;
        min-width: 45.5rem;
        border: 1px solid #0d6efd;
        border-radius: 20px;
        padding: 1.75rem 0 !important;
    }
    .cityNameText, .searchDateText, .personsText{
        width: 100%;
    }  
    .searchBar{
        width: 12rem;
    }
    .cityNameText{
        border: none;
        outline: none;
    }
    .searchDate, .persons {
        width: 15rem;
    }    
    .searchDate{
        border-top: none;
        border-bottom: none;
        border-left: 1px solid #0d6efd;
        border-right: 1px solid #0d6efd;
    }
    .dateblock{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        z-index: 2;
        position:absolute;
        top:4rem;
    }
    .persons{
        border-bottom: none;
    }
    .personsOptions{
        top: 4rem;
        width: 15rem;
    }
    .searchBtn{
        margin-top: 0;
        margin-right: 10px;
        width: auto;
    }
}

/* ------------------------------------------------------------------- */

/* FeaturedByCity */

.cities{
    height: max-content;
}

.cardImage{
    height: 13rem;
}

.cardCityData{
    color: white;
    position: absolute;
    top: 6.5rem !important;
}

.cityRows{
    gap: 5px;
}

@media screen and (max-width: 576px){
    .cityRows{
        width: 19rem !important;
    }
    .cardImage{
        height: 5rem;
    }
    .cardCityData{
        top: -0.5rem !important;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px){
    .cityRows{
        width: 19rem !important;
    }
    .cardImage{
        height: 10rem;
    }
    .cardCityData{
        top: 4.5rem !important;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px){
    .cityRows{
        width: 650px !important;
    }
}

@media screen and (min-width: 992px){
    .cityRows{
        width: 100% !important;
    }
}

/* ------------------------------------------------------------------- */

/* FeaturedByTypes */

.cardImageType{
    height: 10rem !important;
}

/* ------------------------------------------------------------------- */

/* FeaturedByLiked */



/* ------------------------------------------------------------------- */

/* FOOTER */

.footer{
    background-color: #0d6efd;
    height: max-content;
}

.footerBlock{
    padding: 2rem 4rem;
    gap: 2rem;
    flex-direction: column;
}
   
.mailInput{
    height: 2.25rem;
    border: none;
    width: 18rem;
    border-radius: 5px;
}

.sendMailBtn {
    background-color: #fd7e14 !important;
    border: none;
}

.logoImg{
    width: 5rem;
    border-radius: 10px;
}

@media screen and (max-width: 767px){
    .inputField{
        width: 18rem !important;
    } 
    .mailInput{
        width: 12rem;
    }
}

@media screen and (min-width: 768px) {
    .footerBlock{
        flex-direction: row;
    }
    .inputField{
        width: 24rem !important;
    }    
    .logoImg{
        width: 6rem;
    }
}
