/* HOME */
.homeWrapper{
    height: max-content;
}

/* ------------------------------------------------------------------- */

/* LOGIN & REGISTER */

.loginForm,.signupForm{
    background-color: #0d6efd;
    color: white;
}

.loginForm{
    width: 25rem !important;
}

.signupForm{
    width: 30rem !important;
}

.authErrorText{
    color: rgba(175, 4, 4, 0.896);
}

.frgtPwdText, .loginText{
    color: white;
    text-decoration: none;
}

.loginText, .frgtPwdText:hover{
    color: #fd7e14;
}

.loginText:hover {
    color: white;
}

.formBtns {
    background-color: #fd7e14 !important;
}

@media screen and (max-width : 576px){
    .loginForm{
        width: 18rem !important;
    }
}

/* ------------------------------------------------------------------- */

/* APP NAVBAR */
.navBtns{
    width: 9.25rem;
}

.navBtnsAFterLogin{
    width: 8rem;
}

.appData{
    width: 8.25rem;
    color: white;
    text-decoration: none;
}

.appName{
    font-size: medium;
}

.authBtns {
    border: 1px solid white !important;
    width: 4.5rem;
    font-size: smaller !important;
}

.authBtns:hover {
    color: #084298 !important;
    background-color: white !important;
}

.myProfileDrpdwn{
    background-color: white;
    width: 15rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position : absolute;
    top : 4.5rem;
    right: 2rem;
    z-index: 2;
}

@media screen and (min-width: 426px){
    .appData{
        width: 9rem;
    }
    .navBtns{
        width: 10rem;
    }
    
    .appName{
        font-size: large;
    }
    .authBtns{
        width: auto;
        font-size: medium !important;
    }
}

/* ------------------------------------------------------------------- */

/* MY PROFILE */

.block{
    width: 100%;
    height: 100%;
    background-color: red;
}

.detailsForm{
    border: 1px solid #0d6efd;
}

.detailtext{
    width: 6rem !important;
}

.updateDetailBtn{
    background-color: #fd7e14 !important;
    border: none !important;
}

/* ------------------------------------------------------------------- */

/* SEARCH HOTELS */

.search{
    flex-direction: column;
    width: 17rem;
    height: max-content;
    border: 1px solid #0d6efd;
    border-radius: 20px;
    padding: 0.5rem 0.5rem;
}

.searchBar, .searchDate, .persons {
    width: 100%;
    padding : 10px 0;
}

.bedIcon, .calenderIcon, .personIcon{
    color: lightgray;
}

.cityNameText{
    border: none;
    outline: none;
}

.searchDateText, .personsText{
    color: rgb(103, 94, 94);
    cursor: pointer;
}

.searchDate{        
    border-top: 1px solid #0d6efd;
    border-bottom: 1px solid #0d6efd;
}

.dateblock{    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 2;
    position:absolute;
    top: 13.5rem;
}

.persons{
    border-bottom: 1px solid #0d6efd;
}

.personsOptions{
    position: absolute;
    z-index: 2;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    padding: 0.5rem;
}

.optionItem{        
    width: 100%;
}

.optionCounterBtn{
    border:  1px solid #0d6efd !important;
    cursor: pointer;
}

.optionCounterBtn:disabled{
    cursor: not-allowed;
}

.searchBtn{
    width: 100%;
    margin-top: 1rem;
    background-color: #fd7e14 !important;
    border: none !important;
    border-radius: 10px !important;
}

@media screen and (max-width: 575px) {
    .dateblock{
        width: 250px;
    }
    .rdrMonth{
        width: 100%;
    }
    .personsOptions{
        top: 16rem;
        width: 15rem;
    }    
}

@media screen and (max-width: 767px) and (min-width: 576px){
    .search{
        width: 20rem;
    }
    .personsOptions{
        top: 16rem;
        width: 18rem;
    }
}

@media screen and (min-width: 768px){
    .header{
        position: relative;
    }
    .search{
        flex-direction: row;
        height: 3rem;
        min-width: 45.5rem;
        border: 1px solid #0d6efd;
        border-radius: 20px;
        padding: 1.75rem 0 !important;
    }
    .cityNameText, .searchDateText, .personsText{
        width: 100%;
    }  
    .searchBar{
        width: 12rem;
    }
    .cityNameText{
        border: none;
        outline: none;
    }
    .searchDate, .persons {
        width: 15rem;
    }    
    .searchDate{
        border-top: none;
        border-bottom: none;
        border-left: 1px solid #0d6efd;
        border-right: 1px solid #0d6efd;
    }
    .dateblock{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        z-index: 2;
        position:absolute;
        top:4rem;
    }
    .persons{
        border-bottom: none;
    }
    .personsOptions{
        top: 4rem;
        width: 15rem;
    }
    .searchBtn{
        margin-top: 0;
        margin-right: 10px;
        width: auto;
    }
}

/* ------------------------------------------------------------------- */

/* FeaturedByCity */

.cities{
    height: max-content;
}

.cardImage{
    height: 13rem;
}

.cardCityData{
    color: white;
    position: absolute;
    top: 6.5rem !important;
}

.cityRows{
    gap: 5px;
}

@media screen and (max-width: 576px){
    .cityRows{
        width: 19rem !important;
    }
    .cardImage{
        height: 5rem;
    }
    .cardCityData{
        top: -0.5rem !important;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px){
    .cityRows{
        width: 19rem !important;
    }
    .cardImage{
        height: 10rem;
    }
    .cardCityData{
        top: 4.5rem !important;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px){
    .cityRows{
        width: 650px !important;
    }
}

@media screen and (min-width: 992px){
    .cityRows{
        width: 100% !important;
    }
}

/* ------------------------------------------------------------------- */

/* FeaturedByTypes */

.cardImageType{
    height: 10rem !important;
}

/* ------------------------------------------------------------------- */

/* FeaturedByLiked */


/* ------------------------------------------------------------------- */

/* FOOTER */

.footer{
    background-color: #0d6efd;
    height: max-content;
}

.footerBlock{
    padding: 2rem 4rem;
    gap: 2rem;
    flex-direction: column;
}
   
.mailInput{
    height: 2.25rem;
    border: none;
    width: 18rem;
    border-radius: 5px;
}

.sendMailBtn {
    background-color: #fd7e14 !important;
    border: none !important;
}

.sendMailBtn:hover {
    background-color: white !important;
    color: #0d6efd !important;
}

.logoImg{
    width: 5rem;
    border-radius: 10px;
}

@media screen and (max-width: 767px){
    .inputField{
        width: 18rem !important;
    } 
    .mailInput{
        width: 12rem;
    }
}

@media screen and (min-width: 768px) {
    .footerBlock{
        flex-direction: row;
    }
    .inputField{
        width: 24rem !important;
    }    
    .logoImg{
        width: 6rem;
    }
}

/* ------------------------------------------------------------------- */
/* Hotels */

.hotelsPage{
    gap: 5px;
}

/* ------------------------------------------------------------------- */
/* HotelsPageSearchBar */

.searchFilterBlock{
    width: 30% !important;
    background-color: red;
    border-radius: 10px;
}

@media screen and (min-width: 768px){
    .searchFilterBlock{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 22rem;
        background-color: #fd7e14;
    }
    .destinationInput, .searchDateArea{
        width: 100%;
        height: 2rem;
        border: none;
        outline: none;
        border-radius: 10px;
    }
    .searchDateArea{
        background-color: white;
    }
    .pplData{
        width: 20%;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        
    }
}

/* ------------------------------------------------------------------- */

/* HotelsPageList */

.hotelsListBlock{
    width: 80%;
    height: max-content;
}
.availabilityBtn{
    width: max-content;
    font-size: 0.75em !important;
}

@media screen and (max-width: 767px){
    .hotelListCard{
        font-size: smaller !important;
    }
    .hotelCard{
        height: 12rem !important;
    }
   .roomImage{
        width: 8rem !important;
   }
   .cardrightside{
        padding: 0.5rem !important;
   }
   .cardLeftBlock, .cardRightBlock {
        height: 100% !important;
   }
   .cardLeftBottomBlock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    /* justify-content: space-between; */
    gap: 2px;
   }
   .label{
    font-size: smaller;
    background-color: #fd7e14;
    color: white;
    padding: 1px 3px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
   }

}

@media screen and (min-width: 768px){
    .hotelListCard{
        gap: 10px !important;
    }
    .hotelCard{
        height: 15rem !important;
    }
    .roomImage{
        width : 12rem !important;
    }
    .cardLeftBlock{
        width: 70% !important;
    }
    .cardLeftBlock{
        height: 100%;
    }
    .cardLeftBottomBlock{
        gap: 5px;
        height: max-content;
    }
    .label{
        width: max-content;
        margin: 2px 0;
        font-size: small;
        background-color: #fd7e14;
        color: white;
        padding: 2px 6px;
        border: none;
        border-radius: 5px;
    }
    .cardRightBlock{
        width: auto;
        height: 100%;
    }
    .cardRightTopBlock{
        width: 100%;
        flex-direction: column;
        align-items : end;
        gap: 2px;
    }
    .ratingBtn{
        padding: 2px 5px;
        background-color: #003580;
        color: white;
        border-radius: 5px;
    }
}

@media screen and (max-width: 992px){
    .cardLeftBottomBlock{
        display: flex;
        flex: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 992px){
    .roomImage{
        width: 20rem;
    }
    .cardLeftBottomBlock{
        display: flex;
        flex-direction: row;
    }
    .availabilityBtn{
        font-size: medium !important;
    }
}

@media screen and (min-width: 1024){

}

/* ------------------------------------------------------------------- */
/* HotelDetailPage */

.desc{
    width: 100%;
}
.leftDescData{
    height:100%;
    color: white;
    background-color: #fd7e14;
    border-radius: 10px;
}
.roomImagesList{
    height: max-content;
}

@media screen and (max-width : 991px) and (min-width : 768px){
    .desc{
        height: 18rem !important;
    }
    .rightDesc{
        width: 65% !important;
    }
    .leftDesc{
        width: 35% !important;
        height: 100%;
    }
}

@media screen and (max-width : 767px) {
    .desc{
        flex-direction: column;
    }
    .leftDesc{
        padding: 0 2rem;
    }
}

@media screen and (min-width : 992px){
    .desc{
        height: 15rem;
    }
    .rightDesc{
        width: 75%;
        height: 100%;
    }
    .leftDesc{
        width: 25%;
        height: 100%;        
    }
    .leftDescData{
        color: white;
        border-radius: 10px;
    }
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

/* ADMIN */

/* ADMIN NAVBAR */
.adminNavBtns{
    width: 9.25rem;
}

.adminAppData{
    width: 8.25rem;
    color: white;
    text-decoration: none;
}

.adminAppName{
    font-size: medium;
}

.adminAuthBtns {
    background-color: white !important;
    color: #0d6efd !important;
    border: 1px solid white !important;
    width: 4.5rem;
    font-size: smaller !important;
}

.adminAuthBtns:hover {
    color: white !important;
    background-color: #0d6efd !important;
}

@media screen and (min-width: 426px){
    .adminAppData{
        width: 9rem;
    }
    .adminNavBtns{
        width: 10rem;
    }
    
    .adminAppName{
        font-size: large;
    }
    .adminAuthBtns{
        width: auto;
        font-size: medium !important;
    }
}

/* ------------------------------------------------------------------- */

/* ADMIN FOOTER */

.adminFooter{
    background-color: #fd7e14;
    height: max-content;
}

.adminFooterBlock{
    padding: 2rem 4rem;
    gap: 2rem;
    flex-direction: column;
}
   
.adminMailInput{
    height: 2.25rem;
    border: none;
    width: 18rem;
    border-radius: 5px;
}

.adminSendMailBtn {
    background-color: white !important;
    color: #0d6efd !important;
    border: none !important;
}

.adminSendMailBtn:hover {
    background-color: #0d6efd !important;
    color: white !important;
}

.adminLogoImg{
    width: 5rem;
    border-radius: 10px;
}

@media screen and (max-width: 767px){
    .adminInputField{
        width: 18rem !important;
    } 
    .adminMailInput{
        width: 12rem;
    }
}

@media screen and (min-width: 768px) {
    .adminFooterBlock{
        flex-direction: row;
    }
    .adminInputField{
        width: 24rem !important;
    }    
    .adminLogoImg{
        width: 6rem;
    }
}

/* ------------------------------------------------------------------- */

/* ADMIN LOGIN & REGISTER */

.adminLoginForm, .adminSignupForm{
    border: 1px solid #fd7e14;
    width: 25rem;
}

.adminFormBtns{
    background-color: #0d6efd !important;
}

.adminFrgtPwdText,.adminLoginText{
    text-decoration: none;
    color: #0d6efd;
}

.adminLoginText:hover{
    color: #fd7e14;
}

#adminEmail,#adminPassword, #adminFirstName,#adminLastName,#adminMobile,#adminConfirmPassword{
    border: 1px solid #0d6efd !important;
}

@media screen and (max-width : 576px){
    .adminLoginForm{
        width: 18rem !important;
    }
}