.cities{
    height: max-content;
}

.cardImage{
    height: 13rem;
}

.cardCityData{
    color: white;
    position: absolute;
    top: 6.5rem !important;
}

.cityRows{
    gap: 5px;
}

@media screen and (max-width: 576px){
    .cityRows{
        width: 19rem !important;
    }
    .cardImage{
        height: 5rem;
    }
    .cardCityData{
        top: -0.5rem !important;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px){
    .cityRows{
        width: 19rem !important;
    }
    .cardImage{
        height: 10rem;
    }
    .cardCityData{
        top: 4.5rem !important;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px){
    .cityRows{
        width: 650px !important;
    }
}

@media screen and (min-width: 992px){
    .cityRows{
        width: 100% !important;
    }
}